:root{
    --colour-primary:#ce351ac9 ;
    --colour-secondary:#1a9bcec9 ;
    
}

.bg-primary{
    background-color: #ce351ac9;
}

.bg-secondary{
    background-color: #b2c2c9c9;
}

.bg-white{
    color: #fff;
}

.bg-black{
    color: #000;
}

.text-primary{
    color: #000000 !important;
}

.test-secondary{
    color: var(--colour-secondary);
}

.text-black{
    color: #000;
}

.text-white{
    color: #fff;
}

.border-primary{
    border-color: var(--colour-primary);
}

.border-secondary{
    border-color: #888b8f;
}

.container{
    
    height: 50px;
}

.btn{
    height: 60%;
}