:root{
    --colour-primary:#ce351ac9 ;
    --colour-secondary:#1a9bcec9 ;
    
}

.bg-primary{
    background-color: #ce351ac9;
}

.bg-secondary{
    background-color: #1a9bcec9;
}

.text-primary{
    color: var(--colour-primary)
}

.test-secondary{
    color: var(--colour-secondary)
}

.border-primary{
    border-color: var(--colour-primary)
}

.border-secondary{
    border-color: var(--colour-secondary)
}